* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  :root {
    --gotchaBlue: #25c5f0;
    --boardBlack: #1b1b1b;
    --white: #ffffff;
    --milkTea: #f4e2c8;
  }
  
  /* HEADER */
  body {
    background-color: var(--milkTea);
  }
  
  header {
    background-color: var(--gotchaBlue);
    border-bottom: 4px solid var(--white);
  }
  
  header .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 4px solid var(--white);
  }
  
  header img {
    width: 375px;
    padding: 0 5rem;
  }
  
  header a {
    text-decoration: none;
    color: var(--white);
  }
  
  header .nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  header .nav a {
    font-size: 20px;
    padding: 0.5rem 0;
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  
  header .menu {
    border-right: 2px solid var(--white);
  }
  
  header .about {
    border-left: 2px solid var(--white);
  }

/* MAIN */

/* VIDEO */

main .blue_overlay {
  position: absolute;
  z-index: 1;
}

main .blue_overlay img {
  position: absolute;
  width: auto;

  max-height: 570px;
}

main video {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 350px;
  max-height: 570px;

  object-fit: cover;
}

/* main .video img {
  width: 150%;
  overflow: hidden;
} */

/* HOW IT WORKS */

main .how-it-works {
  background-color: var(--boardBlack);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 0;
}

main .step1 {
  width: 100%;
}

main .fruit_milk {
  display: flex;
  flex-direction: row;
  padding: 0 1rem 1.5rem;
  width: 100%;
  justify-content: space-around;
}

main .h_background {
  background-image: url(images/heading_background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0.1rem;
  margin: 0.8rem;
}

main .h_step {
  width: 60%;
  margin: 0 auto 1rem;
}

main h2 {
  /* background-image: url(images/heading_background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0.1rem; */
  text-transform: uppercase;
  font-size: 2rem;
}

main .how-it-works h3 {
  font-size: 1.3rem;
}

.or {
  position: relative;
  width: 2rem;
  height: 2rem;
  transform: rotate(-30deg);
  margin-top: 1.1rem;
  font-size: 1.3rem;
}

main .step2 {
  width: 100%;
}

.step2 img {
  width: 80%;
}

main .toppings {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 1rem;
}

main .step3 {
  width: 100%;
  padding-top: 1rem;
}

main .enjoy {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 3rem;
}

main .enjoy h3 {
  transform: rotate(-11deg);
  font-size: 2rem;
  padding-top: 1rem;
}

main .enjoy img {
  width: 250px;
}

/* IMAGE COLLAGE */
main .imageCollage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

main .imageCollage img {
  width: 100%;
}


  /* FOOTER */

footer {
    background-image: url(images/wood.jpg);
    background-repeat: no-repeat;
    background-size: 200% 200%;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }
  
  footer .gradient {
    background: linear-gradient(
      180deg,
      var(--milkTea) 0%,
      rgba(255, 255, 255, 0.08) 30%
    );
    height: 100%;
  }
  
  footer .information {
    margin-top: 0.5rem;
    padding-top: 5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 65%;
    margin: 0 auto;
  }
  
  footer .information p {
    margin-bottom: 1.5rem;
  }
  
  footer .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem 1.5rem;
    width: 100%;
  }
  
  footer .map {
    margin: 0 2rem;
  }
  
  footer .map iframe {
    width: 100%;
  }